<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flydemo.bel.flydemo">

    <application
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AfterSeatActivity"></activity>
        <activity android:name=".BoardingPassActivity"></activity>
        <activity android:name=".FlightSearchActivity"></activity>
        <activity android:name=".FlightPlanActivity"></activity>
        <activity android:name=".PaymentActivity"></activity>
        <activity android:name=".SeatPlanActivity"></activity>
    </application>

</manifest>